<div class="bg-base-200 text-black">
  <div class="hero container mx-auto lg:pt-20">
    <div class="hero-content flex-col lg:flex-row-reverse pb-0">
      <img
        data-aos="fade-right"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000"
        src="../../../assets/images/md-lalaroa.png"
        class="max-w-sm hidden md:block"
        alt="Doctor Image"
      />
      <div
        data-aos="fade-up"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000"
        class="lg:mr-24 lg:ml-12 mb-8"
      >
        <h1 class="text-5xl font-thin">Welcome to Kalaroa Health Care</h1>
        <p class="lg:py-6">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
          rebum. Accusantium aperiam earum ipsa eius, inventore nemo labore
          eaque porro consequatur ex aspernatur. Explicabo, excepturi
          accusantium! Placeat voluptates esse ut optio facilis!
        </p>
        <button
          class="btn btn-primary rounded text-white capitalize px-8 font-light text-xl"
        >
          About Us
        </button>
      </div>
    </div>
  </div>
</div>
